<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheeet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>

    const entries = [
    "Lulu Yeh (815) 422-7343",
    "Tisa Mysliwiec (250) 868-4055",
    "Trenton Mayon (959) 428-5605",
    "Marissa Millar (226) 324-8484",
    "Roselia Silverberg (307) 171-4278",
    "Freda Pizzuto (285) 681-2845",
    "Jamal Simo (157) 272-9418",
    "Caroline Remus (342) 100-3997",
    "Takisha Six (140) 252-6015",
    "Margret Masten (198) 529-0919",
    "Yoshie Berke (400) 984-8954",
    "Mickie Depew (492) 309-4791",
    "Lavina Alexandre (525) 241-8185",
    "Phillip Laplaca (803) 681-1204",
    "Carlyn Heyden (579) 864-2468",
    "Waldo Gosse (383) 950-2918",
    "Gilma Stiefel (356) 415-2892",
    "Lecia Trojacek (505) 165-0420",
    "Alethea Schimpf (480) 644-3571",
    "Delcie Mershon (694) 561-1237",
    "Maren Parsons (196) 441-5744",
    "Lona Roca (208) 905-9132",
    "Nakita Hann (493) 914-1241",
    "Wally Won (979) 737-8058",
    "Antonia Tomberlin (730) 452-6053",
    "Hulda Lezama (521) 182-1108",
    "Ossie Mackowiak (753) 401-0581",
    "Kaitlin Harner (136) 268-2900",
    "Hye Everts (952) 643-9532",
    "Mikki Spatz (356) 479-0253",
    "Ardis Grosch (517) 293-7620",
    "Arla Guardiola (953) 814-8942",
    "W@ld0! Tart (149) 620-7746",
    "Estela Shears (338) 680-8438",
    "Rolland Clemmer (364) 855-5768",
    "Maranda Vanpelt (810) 202-6393",
    "Eldon Ochoa (781) 145-4987",
    "Wilton Sandiford (907) 719-4720",
    "Nydia Bourbon (173) 145-8413",
    "Telma Bross (476) 270-9556",
    "Josiah Burton (162) 997-9411",
    "W@ldo Geronimo (835) 106-1512",
    "Vennie Banh (409) 139-5722",
    "Carylon Palka (979) 337-0582",
    "Jenny Movie (234) 555-1212",
    "Tammi Arens (640) 763-0030",
    "Maybell Shivers (257) 288-9211",
    "Clarine Vallejos (431) 692-0717",
    "Zenobia Gero (848) 263-7000",
    "Zofia Camille (871) 664-0035",
    "Malcolm Gunnels (917) 621-9524",
    "Jenny ? 867-5309",
    "Great Old One (666) 666-6666",
    "Guy with weird number (555) 555-5555",
    "Sir Waldo (555) 555-1212",
    "Waldo the WaldoIfisenct (543) 234-2342",
    "Wuldo (345) 234-2343",
    "Wzldo (234) 090-2343",
    "W*ldo (423) 234-2343",
    "W^ldo (999) 293-2313",
    "W.ldo (000) 000-0000",
    "W+ldo (123) 456-7893",
    "W ldo (900) 394-2940",
    "W aldo (234) 234-2243",
    "W0ldo (234) 654-4564",
    "W_ldo (898) 898-8288",
    "Wa@ldo (234) 242-2422",
    "Wa@@ldo (234) 242-2422",
    "WWaldo (888) 294-2439",
    "aldo (234) 243-2938"
  ]
</script>
<script>
      function createData(searchEntries) {
        const convertedEntries = searchEntries.map(x=>({value:x, match:true}));
        return {
        rawEntries: convertedEntries || [],
          searchEntries: convertedEntries || [],
          global: true, 
          invariant:false,
          regex:"", 
          onlyMatches : false
        };
      }

      function createMethods (){
          return {
            evaluate : evaluate,
            generatePhoneNumbers: generatePhoneNumbers
          }
      }

      function createStartup(selector, data, methods, mounted) {
        return {
          ...selector, 
          data: data || {},
          methods: methods || {},
          mounted: mounted || function(){},
        };
      }

      function launchApp(loadData) {
        return new Vue(loadData);
      }

    function run () {
        const data = createData(entries);
        const methods = createMethods();
        const mounted = null;
        const startup = createStartup ({el:"#app"}, data, methods, mounted);

        launchApp(startup);
    }

    function validateEntry (regex, entry) {
        const matchEntry = (entry || {value:"", match:false});

        return {value : matchEntry.value.replace(regex, "<span highlight>$1</span>"), match: matchEntry.value.match(regex) !== null, matched: matchEntry.value.match(regex) };
    }

      function runRegex (regex, entries, replace, global, invariant) {
        const flags = (global ? "g" : "") + (invariant ? "i" : "");

        return entries.map(x=>validateEntry(new RegExp(`(${regex})`, flags), x, replace));
      }

      function evaluate (regex, entries, global, invariant, replace){
        this.searchEntries = runRegex(regex, entries, null, global, invariant);
      }

      function generatePhoneNumbers (parameters) {
            const generateNumber = (max) => Math.random() * Math.floor(max);
            const floor = (n) => Math.floor(n);
            const getNumber = (max) => floor(generateNumber(max));
            const generatePhoneNumber = () => Array.from(new Array(10)).map(() => getNumber(10));
            
            const numbers = Array.from(new Array(parameters.count)).map(() => generatePhoneNumber());

            return numbers;
        }

    </script>
    <style>
      div[regex] {
        padding: 0.25em;
        border: thin solid gray;
      }

      input[regex] {
        border: 0;
      }

      input[regex]:focus {
        border: 0;
      }
      button {
        margin: 2em;
      }

      [inactive]{
        display:none;
      }

      [highlight]{
        border: thin solid black;
        background-color: lightgreen;
      }

    </style>
  </head>
  <body onload="run()">
    <div id="app">
        <div regex><span>/</span><input type="text" v-model="regex" regex /><span>/</span><span :inactive="!global">g</span><span :inactive="!invariant">i</span></div>

        <div>
            <label><input type="checkbox" checked v-model="global">global</label></label>
            <label><input type="checkbox" v-model="invariant">invariant</label></label>
            <button type="button" v-on:click="evaluate(regex, rawEntries, global, invariant)">Run</button>
            <label><input type="checkbox" v-model="onlyMatches">matches</label></label>
        </div>

        <div id="entries" v-for="entry in searchEntries">
            <div v-html="entry.value" v-if="(onlyMatches && entry.match) || !onlyMatches"></div>
        </div>
    </div>
</body>
</html>
